
body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
#boost,
#description {
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 1px;
}


body {
    min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fdfdfd;
  background-image:
    linear-gradient(#dbe9ff 1px, transparent 1px),
    linear-gradient(90deg, #dbe9ff 1px, transparent 1px);
  background-size: 35px 35px;
}

.page {
  width: 100%;
  text-align: center;
  display: none;
}


#logo {
  width: 270px;
  display: block;
  margin: 0 auto 30px auto;
}

.btn-custom {
  background-color: #82d8ff;  
  color: white;
  padding: 18px 32px;
  font-size: 24px;
  border: none;
  border-radius: 16px;
  transition: 0.2s;
  width: 100%;
  max-width: 260px;
}


.btn-shadow {
  box-shadow: 0px 10px 0px #000000;
}


.btn-custom:active {
  transform: translateY(5px);
  box-shadow: 0px 5px 0px #000000;
}

.btn-custom:hover {
  background-color: #6ec7f1;
}

#boost {
  font-size: 36px;
  font-weight: bold;
  margin-top: 40px;
  color: #222;
}

#description {
  font-size: 18px;
  margin-top: 12px;
  color: #555;
}

.fade {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
